{% extends 'base.html.twig' %}

{% block content %}
    <!-- content -->
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1><i class="ti-car"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{{ path('homepage') }}">ADMINISTRATION</a></li>
                        <li>Gestion voitures</li>
                        <li class="active">Liste des voitures</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Liste des voitures</strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Modèle</th>
                                    <th>Matricule</th>
                                    <th>Couleur</th>
                                    <th>Prix</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for vehicle in vehicles %}
                                    <tr>
                                        <td><a href="{{ path('vehicle_show', { 'id': vehicle.id }) }}">{{ vehicle.id }}</a></td>
                                        <td>{{ vehicle.model.name }}</td>
                                        <td>{{ vehicle.registrationNumber }}</td>
                                        <td style="background-color:{{ vehicle.color }}"></td>
                                        <td>{{ vehicle.price }}</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-secondary" title="afficher voiture"><a href="{{ path('vehicle_show', { 'id': vehicle.id }) }}"><i class="fa fa-eye"></i></a></button>
                                            <button type="button" class="btn btn-outline-secondary" title="modifier voiture"><a href="{{ path('vehicle_edit', { 'id': vehicle.id }) }}"><i class="fa fa-edit"></i></a></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <button type="button" class="btn btn-outline-secondary"><a href="{{ path('vehicle_new') }}"><i class="fa fa-plus"></i>  Create a new vehicle</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}


